# @package _global_
defaults:
  - _self_
  - data: lidc_2d_small
  - network: unet-s
  - model: softmax
  - eu_method: none

exp_name: null
version: null
ckpt_path: null
resume_from_ckpt: null

save_dir: "/home/jloch/Desktop/diff/luzern/values/saves"

seed: 123

val_every_n_epochs: 1

# training hyperparams
learning_rate: 0.01
weight_decay: 0.0

optimizer:
  _target_: torch.optim.SGD
  lr: ${learning_rate}
  weight_decay: ${weight_decay}
  momentum: 0.9
  nesterov: true

# logger:
#   _target_: pytorch_lightning.loggers.TensorBoardLogger
#   save_dir: ${save_dir}
#   name: ${exp_name}
#   default_hp_metric: false

logger:
  _target_: pytorch_lightning.loggers.WandbLogger
  project: DiffUnc
  group: ${exp_name}
  name: ${exp_name}/${version}
  save_dir: ${save_dir}
  log_model: false

progress_bar:
  _target_: pytorch_lightning.callbacks.TQDMProgressBar
  refresh_rate: 2

trainer:
  max_epochs: 320
  accelerator: gpu
  devices: 1
  precision: 32 # bf16-mixed is not faster on 4090
  deterministic: "warn" 
  gradient_clip_val: 0.5
  gradient_clip_algorithm: norm
  profiler: "simple"
  check_val_every_n_epoch: ${val_every_n_epochs}
  # log_every_n_steps: 50

ckpt_save_freq:
  use_linear_saving: false
  use_exponential_saving: false
  only_small_ckpts: true
  track_ema_weights: true
  only_save_ema: true
  ema_decay: 0.999
  linear_freq: 10
  exponent_base: 2
  exponential_start: 10
  end: ${trainer.max_epochs}
  full_last_ckpt: true
  shutdown_timer: 82800 # 23 hours
  do_shutdown: false

swag:
  enabled: false
  snapshot_frequency: 1
  max_snapshots: 20
  min_variance: 1e-30
  diag_only: false