#@package _global_
defaults:
  - /../../uncertainty_modeling/configs/data/lidc_2d_small
  - _self_

data_input_dir: "/home/jloch/Desktop/diff/luzern/values_datasets/lidc_2d_small"
datamodule_config: ${data}
data:
  data_input_dir: ${data_input_dir}
base_splits_path: "/home/jloch/Desktop/diff/luzern/values_datasets/lidc_2d_small/splits"
experiments:
  - ${OOD_AUG_MEDIUM}

OOD_AUG_MEDIUM:
  iter_params:
    shift: [ "ood_aug" ]
    pred_model: [ "diffusion", "softmax", "ssn" ]
    seed: [ "120" ]
    network: [ "unet-s"]
    eu: [ "dropout", "swag", "swag_diag", "ens12[1,2,3,4,5]" ]
    cfg: [ "standard" ]
    data: [ "lidc_2d_small" ]
    aug: [ "" ]
  naming_scheme_pred_model: "ood_aug"
  naming_scheme_version: "{eu}_{pred_model}_{network}_lidc_2d_small{aug}/e320_ema"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}

OOD_AUG:
  iter_params:
    shift: [ "ood_aug" ]
    pred_model: [ "diffusion", "softmax", "ssn" ]
    seed: [ "120" ]
    network: [ "unet-s"]
    eu: [ "dropout", "swag", "swag_diag" ]
    cfg: [ "standard" ]
    data: [ "lidc_2d_small" ]
    aug: [ "", "_aug" ]
  naming_scheme_pred_model: "ood_aug"
  naming_scheme_version: "{eu}_{pred_model}_{network}_lidc_2d_small{aug}/e320_ema"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}

OOD_AUG_ENSEMBLE:
  iter_params:
    shift: [ "ood_aug" ]
    pred_model: [ "diffusion", "softmax", "ssn" ]
    seed: [ "120" ]
    network: [ "unet-s"]
    eu: [ "ens12[1,2,3,4,5]" ]
    cfg: [ "standard" ]
    data: [ "lidc_2d_small" ] 
    aug: [ "" ]
  naming_scheme_pred_model: "ood_aug"
  naming_scheme_version: "{eu}_{pred_model}_{network}_lidc_2d_small{aug}/e320_ema"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}

EU_FIX:
  iter_params:
    shift: [ "texture" ]
    pred_model: [ "diffusion" ]
    seed: [ "120" ]
    eu: [ "swag_diag" ]
    cfg: [ "standard" ]
    data: [ "lidc_2d_small" ] #, "gta_xsmall" ]
  naming_scheme_pred_model: "eu_tests"
  naming_scheme_version: "swag_diag_diffusion_standard_lidc_2d_small/e320_ema"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}

EU_TESTS:
  iter_params:
    shift: [ "texture" ]
    pred_model: [ "softmax" ] #"ssn", "diffusion" ]
    seed: [ "120" ]
    eu: [ "swag_diag", "swag", "dropout" ]
    cfg: [ "standard", "sgd" ]
    data: [ "lidc_2d_small" ]
  naming_scheme_pred_model: "eu_tests"
  naming_scheme_version: "{eu}_{pred_model}_{cfg}_{data}/e320_ema"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}

BIG_SSN:
  iter_params:
    shift: [ "texture" ]
    pred_model: [ "SSN" ]
    seed: [ "120" ]
    version: [ "aug0_s12[0,1,2,3,4]" ]
    epochs: [ 10, 20, 40, 80, 160, 320 ]
    ema: [ "_ema" ]
  naming_scheme_pred_model: "lidc-small-ssn-OF"
  naming_scheme_version: "{version}/e{epochs}{ema}"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}

AUG_SSN_ENSEMBLE:
  iter_params:
    shift: [ "texture" ]
    pred_model: [ "SSN" ]
    seed: [ "120" ]
    version: [ "aug1_s12[0,1,2,3,4]" ]
    epochs: [ 10, 20, 40, 80, 160, 320 ]
    ema: [ "_ema" ]
  naming_scheme_pred_model: "lidc-small-ssn-OF-mini"
  naming_scheme_version: "{version}/e{epochs}{ema}"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}

SSN_ENSEMBLE:
  iter_params:
    shift: [ "texture" ]
    pred_model: [ "SSN" ]
    seed: [ "120" ]
    version: [ "aug0_s12[0,1,2,3,4]" ]
    epochs: [ 10, 13, 17, 22, 28, 37, 48, 62, 81, 105, 136, 176, 229, 297, 385, 500 ]
    ema: [ "_ema" ]
  naming_scheme_pred_model: "lidc-small-ssn-OF-mini"
  naming_scheme_version: "{version}/e{epochs}{ema}"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}

SOFTMAX_ENSEMBLE:
  iter_params:
    shift: [ "texture" ]
    pred_model: [ "Ensemble-Softmax" ]
    seed: [ "120" ]
    version: [ "aug0_s12[0,1,2,3,4]" ]
    epochs: [ 11, 14, 18, 23, 29, 38, 49, 63, 82, 106, 137, 177, 230, 298, 386, 501 ] # 
    ema: [ "_ema" ]
  naming_scheme_version: "{version}/e{epochs}{ema}"
  naming_scheme_pred_model: "lidc-small-softmax-OF-mini"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}

AUG_SSN:
  iter_params:
    shift: [ "texture" ]
    pred_model: [ "SSN" ]
    seed: [ "123" ]
    version: ["aug0.0", "aug0.5",  "aug1.0" ]
    epochs: [10,12,15,19,24,30,37,46,57,71,88,109,136,169,210,261,324,402,500 ]
    ema: [ "_ema" ]
  naming_scheme_pred_model: "lidc-small-ssn-OF"
  naming_scheme_version: "{version}/e{epochs}{ema}"
  aggregations: [ "patch_level", "threshold" ]
  fold: 0
  rank: 5
  image_ending: ".png"
  unc_ending: ".tif"
  n_reference_segs: 4
  only_pu: false
  evaluate_training_data: ${evaluate_training_data}